{% extends "base_generic.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <h1>Индекс качества городской среды — инструмент для оценки качества материальной городской среды и условий её
        формирования.</h1>
    <ul class="mt-4 p-4 h4 font-italic font-weight-normal">
        <li> В системе <strong> {{ num_cities }}</strong> городов</li>

    </ul>

    <p class="text-justify lead">Индекс формируется Министерством строительства и жилищно-коммунального хозяйства РФ. Результаты формирования
        Индекса используются в реализации положений Указа Президента Российской Федерации от 7 мая 2018 г. № 204 «О
        национальных целях и стратегических задачах развития Российской Федерации на период до 2024 года», национального
        проекта «Жилье и городская среда», в том числе для определения размера субсидии из федерального бюджета бюджетам
        субъектов Российской Федерации на поддержку государственных программ субъектов Российской Федерации и
        муниципальных программ формирования современной городской среды.</p>



{% endblock %}