{% extends "base_generic.html" %}

{% block title %}
    Сравнение городов:{{ city1.name }} и {{ city2.name }}
{% endblock %}
{% block content %}


    <div style="display: block;">
          <div style="display: inline-block; margin: 20px; min-width: 25%">
              <h2>{{ city1.name}}</h2>
              <li><strong>Население: </strong>{{city1.population}}</li>
          </div>


          <div style="display: inline-block; margin: 20px; min-width: 25%">
              <h2>{{ city2.name}}</h2>
              <li><strong>Население: </strong>{{city2.population}}</li>
          </div>
    </div>

{% endblock %}