{% extends "base_generic.html" %}
{% load custom %}
{% block header %}
    <script src="https://use.fontawesome.com/53582331c4.js"></script>
{% endblock %}
{% block title %}
    Сравнение городов:{{ cities.0.name }} и {{ cities.1.name }}
{% endblock %}
{% block content %}


    <div class="row d-flex justify-content-between">
        {% for city in cities %}
            <div class="col-sm card bg-light m-1" style="padding: 0;">
                <div class="card-header bg-primary d-flex flex-row justify-content-between" style="width: 100%;">
                    <div class="h2 card-title " style="color: floralwhite; margin-bottom: 0;">{{ city.name }}</div>
                    {% if cities.1 == city %}
                        <a href="{% url 'listCities' %}" class="page-link rounded text-primary mr-1"
                           onclick="deleteCookie('id_cities')">
                            <i class="fa fa-trash"></i>
                        </a>

                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Регион: </strong>{{ city.region.name }}</li>
                        <li class="list-group-item"><strong>Группа: </strong>{{ city.typeCity }}</li>
                        <li class="list-group-item"><strong>Население: </strong>{{ city.population }}</li>
                        <li class="list-group-item"><strong>Климат: </strong>{% if city.climate == 'C' %}
                            Комфортный{% else %}Дискомфортный{% endif %}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row p-2 pt-5">
        <div class="col">
            <h5>Всего</h5>

            <div class="d-flex flex-row justify-content-between ">
                <p class="mb-0 small text-secondary">Max - {{ perfect }}</p>
            </div>
            <div class="progress" style=" border: thistle solid; height: 40px">
                <div class="progress-bar bg-success align-self-center align-items-center"
                     style="width: {% widthratio total.0 total.0|add:total.1 100 %}%; height: 40px;">{{ cities.0 }}
                    - {{ total.0 }}б.
                </div>
                <div class="progress-bar bg-warning align-self-center align-items-center"
                     style="width: {% widthratio total.1 total.0|add:total.1 100 %}%; height: 40px;">{{ cities.1 }}
                    - {{ total.1 }}б.
                </div>
            </div>
        </div>
    </div>
    {#    {% for key in listInd.0.keys %}#}
    {#        {% with totalCategory.1|get_item:key as tCategory1 %}#}
    {#            <div class="progress" style=" border: thistle solid; height: 25px">#}
    {#                <div class="progress-bar bg-info align-self-center align-items-center"#}
    {#                     style="width: {% widthratio totalCategory.0|get_item:key totalCategory.0|get_item:key|add:tCategory1 100 %}%; height: 25px;">{{ totalCategory.0|get_item:key }}б.#}
    {#                </div>#}
    {#                <div class="progress-bar bg-info align-self-center align-items-center"#}
    {#                     style="width: {% widthratio totalCategory.1|get_item:key totalCategory.0|get_item:key|add:tCategory1 100 %}%; height: 25px;">{{ totalCategory.1|get_item:key }}б.#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endwith %}#}
    {#    {% endfor %}#}

    {% for category in listInd %}
        <div class="row p-2 pt-5">
            <div class="col">
                <div class="d-flex flex-row justify-content-start">
                    <h5 class="m-0 font-italic">{{ category }}</h5>
                    <button class="btn btn-sm btn btn-link" value="listInd{{ forloop.counter }}"
                            onclick="hideBlock(this)">
                        <i class="fa fa-angle-down"></i> Подробнее
                    </button>
                </div>
                <div class="d-flex flex-row justify-content-between ">
                    <p class="mb-0 text-secondary">0</p>
                    <p class="mb-0 text-secondary">{{ perfectCategory|get_item:category }}</p>
                </div>
                {% with totalCategory.0|get_item:category as tCategory0 %}
                    <div class="progress" style=" border: thistle solid; height: 25px">
                        <div class="progress-bar bg-info align-self-center align-items-center"
                             style="width: {% widthratio totalCategory.0|get_item:category totalCategory.1|get_item:category|add:tCategory0 100 %}%; height: 25px;">{{ totalCategory.0|get_item:category }}б.
                        </div>
                        <div class="progress-bar bg-danger align-self-center align-items-center"
                             style="width: {% widthratio totalCategory.1|get_item:category totalCategory.1|get_item:category|add:tCategory0 100 %}%; height: 25px;">{{ totalCategory.1|get_item:category }}б.
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
        <div class="row p-2 pt-5 justify-content-around" id="listInd{{ forloop.counter }}" style="display: none">
            <div class="col mx-4">
                {% for ind in listInd|get_item:category %}
                    <div class="progress" style=" border: thistle solid; height: 20px">
                        {% with sumVal|get_item:category|get_item:ind as sum %}
                            {% for city in listInd|get_item:category|get_item:ind %}
                                {% for indCity in listInd|get_item:category|get_item:ind|get_item:city %}
                                    <div class="progress-bar {% if city == cities.0.name %}bg-info{% else %}bg-danger{% endif %} align-self-center align-items-center"
                                         style="width: {% widthratio indCity.getValDec sum 100 %}%; height: 20px;">{{ indCity.getValDec }}б.
                                    </div>

                                {% endfor %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="mt-2 mb-3 text-center font-italic">{{ ind }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% for category in listInd %}
        {% for ind in listInd|get_item:category %}
            {% for City in listInd|get_item:category|get_item:ind %}
                {% for indCity in City %}
                    {{ indCity.getValDec }}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}