{% extends "base_generic.html" %}
{% load custom %}
{% block header %}
    <script src="https://use.fontawesome.com/53582331c4.js"></script>
{% endblock %}
{% block title %}
    Город - {{ city.name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col card bg-light" style="padding: 0;">
            <div class="card-header bg-primary d-flex flex-row justify-content-between" style="width: 100%;">
                <div class="h2 card-title " style="color: floralwhite; margin-bottom: 0;">{{ city.name }}</div>
                <div class="d-flex flex-row justify-content-end">
                    <a id="toCompare" class="page-link rounded text-primary  mr-1" style="display: none"><i
                            class="a fa fa-balance-scale"></i></a>
                    <button name="btnCompare" class="btn btn-light text-primary font-italic" onclick="clickBth(this)"
                            value="{{ city.id }}">Добавить к сравнению
                    </button>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Регион: </strong>{{ city.region.name }}</li>
                    <li class="list-group-item"><strong>Группа: </strong>{{ city.typeCity }}</li>
                    <li class="list-group-item"><strong>Население: </strong>{{ city.population }}</li>
                    <li class="list-group-item"><strong>Климат: </strong>{% if city.climate == 'C' %}
                        Комфортный{% else %}Дискомфортный{% endif %}</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row p-2 pt-5">
        <div class="col">
            <h5>Всего</h5>
            <div class="d-flex flex-row justify-content-between ">
                <p class="mb-0 text-secondary">0</p>
                <p class="mb-0 text-secondary">{{ perfect }}</p>
            </div>
            <div class="progress" style=" border: thistle solid; height: 40px">
                <div class="progress-bar bg-success align-self-center align-items-center"
                     style="width: {% widthratio total perfect 100 %}%; height: 40px;">Всего {{ total }}б.
                </div>
            </div>
        </div>
    </div>
    {% for key in listInd.keys %}

        <div class="row p-2 pt-5">
            <div class="col">
                <div class="d-flex flex-row justify-content-start">
                    <h5 class="m-0 font-italic">{{ key }}</h5>
                    <button class="btn btn-sm btn btn-link" value="listInd{{ forloop.counter }}"
                            onclick="hideBlock(this)">
                        <i class="fa fa-angle-down"></i> Подробнее
                    </button>
                </div>
                <div class="d-flex flex-row justify-content-between ">
                    <p class="mb-0 text-secondary">0</p>
                    <p class="mb-0 text-secondary">{{ perfectCategory|get_item:key }}</p>
                </div>
                <div class="progress" style=" border: thistle solid; height: 25px">
                    <div class="progress-bar bg-info align-self-center align-items-center"
                         style="width: {% widthratio totalCategory|get_item:key perfectCategory|get_item:key 100 %}%; height: 25px;">{{ totalCategory|get_item:key }}б.
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-2 pt-5 justify-content-around" id="listInd{{ forloop.counter }}" style="display: none">
            {% for ind in listInd|get_item:key %}
                <div class="col-sm-auto mx-4" style="max-width: 300px">
                    <div class="progress rounded-circle mr-0"
                         style="background-color: snow; border: goldenrod solid; height: 250px; width: 250px">
                        <div class="progress-bar h4"
                             style="background-color: gold; height: {% widthratio ind.valueDec 1 10 %}%; width: 100%; position: relative; top: 100%; transform: translateY(-100%) ">{{ ind.valueDec }}б
                        </div>
                    </div>
                    <div class="mt-2 text-center font-italic">{{ ind.indicator.name }}</div>
                </div>
            {% endfor %}
        </div>

    {% endfor %}





{% endblock %}